<a href="https://colab.research.google.com/github/amconfusing/bt2/blob/main/clean_data.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np

df = pd.read_csv('/content/smoke_detection_iot.csv')
df.head()

,Unnamed: 0,UTC,Temperature[C],Humidity[%],TVOC[ppb],eCO2[ppm],Raw H2,Raw Ethanol,Pressure[hPa],PM1.0,PM2.5,NC0.5,NC1.0,NC2.5,CNT,Fire Alarm
0,0,1654733331,20.000,57.36,0,400,12306,18520,939.735,0.0,0.0,0.0,0.0,0.0,0,0
1,1,1654733332,20.015,56.67,0,400,12345,18651,939.744,0.0,0.0,0.0,0.0,0.0,1,0
2,2,1654733333,20.029,55.96,0,400,12374,18764,939.738,0.0,0.0,0.0,0.0,0.0,2,0
3,3,1654733334,20.044,55.28,0,400,12390,18849,939.736,0.0,0.0,0.0,0.0,0.0,3,0
4,4,1654733335,20.059,54.69,0,400,12403,18921,939.744,0.0,0.0,0.0,0.0,0.0,4,0

In [2]:
# check null 
df.isnull().sum()

Unnamed: 0        0
UTC               0
Temperature[C]    0
Humidity[%]       0
TVOC[ppb]         0
eCO2[ppm]         0
Raw H2            0
Raw Ethanol       0
Pressure[hPa]     0
PM1.0             0
PM2.5             0
NC0.5             0
NC1.0             0
NC2.5             0
CNT               0
Fire Alarm        0
dtype: int64

In [4]:
df.dropna()
df.duplicated(keep= False)

0        False
1        False
2        False
3        False
4        False
         ...
62625    False
62626    False
62627    False
62628    False
62629    False
Length: 62630, dtype: bool

In [5]:
# drop cột số thứ tự
df.drop(columns = ['Unnamed: 0','UTC'],axis = 1,inplace = True)
df.head()

,Temperature[C],Humidity[%],TVOC[ppb],eCO2[ppm],Raw H2,Raw Ethanol,Pressure[hPa],PM1.0,PM2.5,NC0.5,NC1.0,NC2.5,CNT,Fire Alarm
0,20.000,57.36,0,400,12306,18520,939.735,0.0,0.0,0.0,0.0,0.0,0,0
1,20.015,56.67,0,400,12345,18651,939.744,0.0,0.0,0.0,0.0,0.0,1,0
2,20.029,55.96,0,400,12374,18764,939.738,0.0,0.0,0.0,0.0,0.0,2,0
3,20.044,55.28,0,400,12390,18849,939.736,0.0,0.0,0.0,0.0,0.0,3,0
4,20.059,54.69,0,400,12403,18921,939.744,0.0,0.0,0.0,0.0,0.0,4,0

In [6]:
# tính covariance
def cov_value(x, y):
    mean_x = sum(x) / float(len(x))
    mean_y = sum(y) / float(len(y))

    sub_x = [i - mean_x for i in x]
    sub_y = [i - mean_y for i in y]

    sum_value = sum([sub_y[i] * sub_x[i] for i in range(len(x))])
    denom = float(len(x) - 1)

    cov = sum_value / denom
    return cov


# tính corr theo công thức
def correlation(x, y):
    cov_x = cov_value(x, x)
    cov_y = cov_value(y, y)
    return cov_value(x, y) / np.sqrt(cov_x * cov_y)

In [8]:

x = df.drop(labels='Fire Alarm', axis =1)
y = df['Fire Alarm']
print(x)
print(y)

       Temperature[C]  Humidity[%]  TVOC[ppb]  eCO2[ppm]  Raw H2  Raw Ethanol  \
0              20.000        57.36          0        400   12306        18520
1              20.015        56.67          0        400   12345        18651
2              20.029        55.96          0        400   12374        18764
3              20.044        55.28          0        400   12390        18849
4              20.059        54.69          0        400   12403        18921
...               ...          ...        ...        ...     ...          ...
62625          18.438        15.79        625        400   13723        20569
62626          18.653        15.87        612        400   13731        20588
62627          18.867        15.84        627        400   13725        20582
62628          19.083        16.04        638        400   13712        20566
62629          19.299        16.52        643        400   13696        20543

       Pressure[hPa]  PM1.0  PM2.5  NC0.5  NC1.0  NC2.5   CNT
0            939.735   0.00   0.00   0.00  0.000  0.000     0
1            939.744   0.00   0.00   0.00  0.000  0.000     1
2            939.738   0.00   0.00   0.00  0.000  0.000     2
3            939.736   0.00   0.00   0.00  0.000  0.000     3
4            939.744   0.00   0.00   0.00  0.000  0.000     4
...              ...    ...    ...    ...    ...    ...   ...
62625        936.670   0.63   0.65   4.32  0.673  0.015  5739
62626        936.678   0.61   0.63   4.18  0.652  0.015  5740
62627        936.687   0.57   0.60   3.95  0.617  0.014  5741
62628        936.680   0.57   0.59   3.92  0.611  0.014  5742
62629        936.676   0.57   0.59   3.90  0.607  0.014  5743

[62630 rows x 13 columns]
0        0
1        0
2        0
3        0
4        0
        ..
62625    0
62626    0
62627    0
62628    0
62629    0
Name: Fire Alarm, Length: 62630, dtype: int64

In [9]:
corr = {} 
for i in range (len(x.columns)):
  cur=[] 
  for j in range(len(x.columns)):
    cur.append(correlation(x.iloc[:,i],x.iloc[:,j])) 
  cur.append(correlation(x.iloc[:,i],y)) 
  corr[x.columns[i]] = cur

cur = [] 
for i in range(len(x.columns)):
  cur.append(correlation(x.iloc[:,i],y)) 
cur.append(correlation(y,y)) 
corr['Fire Alarm'] = cur

corr = pd.DataFrame(corr, columns = corr.keys(), index=corr.keys())

In [ ]:
print(corr)

                Temperature[C]  Humidity[%]  TVOC[ppb]  eCO2[ppm]    Raw H2  \
Temperature[C]        1.000000    -0.243986   0.082442   0.079265 -0.135540
Humidity[%]          -0.243986     1.000000  -0.488878  -0.369095  0.247199
TVOC[ppb]             0.082442    -0.488878   1.000000   0.606118 -0.653053
eCO2[ppm]             0.079265    -0.369095   0.606118   1.000000 -0.682785
Raw H2               -0.135540     0.247199  -0.653053  -0.682785  1.000000
Raw Ethanol          -0.037343     0.068782  -0.673715  -0.506695  0.631495
Pressure[hPa]        -0.251203     0.694614  -0.220004  -0.326043  0.303090
PM1.0                 0.037330    -0.236538   0.597366   0.665482 -0.530714
PM2.5                 0.032084    -0.178882   0.477424   0.572691 -0.431079
NC0.5                 0.039291    -0.277389   0.670657   0.699604 -0.587769
NC1.0                 0.031608    -0.174224   0.467386   0.564252 -0.422626
NC2.5                 0.025526    -0.118502   0.344721   0.456323 -0.318518
CNT                  -0.089850     0.251965  -0.057703  -0.106681 -0.031036
Fire Alarm           -0.163902     0.399846  -0.214743  -0.097006  0.107007

                Raw Ethanol  Pressure[hPa]     PM1.0     PM2.5     NC0.5  \
Temperature[C]    -0.037343      -0.251203  0.037330  0.032084  0.039291
Humidity[%]        0.068782       0.694614 -0.236538 -0.178882 -0.277389
TVOC[ppb]         -0.673715      -0.220004  0.597366  0.477424  0.670657
eCO2[ppm]         -0.506695      -0.326043  0.665482  0.572691  0.699604
Raw H2             0.631495       0.303090 -0.530714 -0.431079 -0.587769
Raw Ethanol        1.000000      -0.075926 -0.480698 -0.393192 -0.529186
Pressure[hPa]     -0.075926       1.000000 -0.258938 -0.243071 -0.248657
PM1.0             -0.480698      -0.258938  1.000000  0.956118  0.940045
PM2.5             -0.393192      -0.243071  0.956118  1.000000  0.798873
NC0.5             -0.529186      -0.248657  0.940045  0.798873  1.000000
NC1.0             -0.385720      -0.241148  0.949860  0.999787  0.786274
NC2.5             -0.293351      -0.213390  0.854901  0.969382  0.626711
CNT               -0.511995       0.186290 -0.093700 -0.083869 -0.094741
Fire Alarm        -0.340652       0.249797 -0.110552 -0.084916 -0.128118

                   NC1.0     NC2.5       CNT  Fire Alarm
Temperature[C]  0.031608  0.025526 -0.089850   -0.163902
Humidity[%]    -0.174224 -0.118502  0.251965    0.399846
TVOC[ppb]       0.467386  0.344721 -0.057703   -0.214743
eCO2[ppm]       0.564252  0.456323 -0.106681   -0.097006
Raw H2         -0.422626 -0.318518 -0.031036    0.107007
Raw Ethanol    -0.385720 -0.293351 -0.511995   -0.340652
Pressure[hPa]  -0.241148 -0.213390  0.186290    0.249797
PM1.0           0.949860  0.854901 -0.093700   -0.110552
PM2.5           0.999787  0.969382 -0.083869   -0.084916
NC0.5           0.786274  0.626711 -0.094741   -0.128118
NC1.0           1.000000  0.974249 -0.082898   -0.082828
NC2.5           0.974249  1.000000 -0.069977   -0.057707
CNT            -0.082898 -0.069977  1.000000    0.673762
Fire Alarm     -0.082828 -0.057707  0.673762    1.000000